<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite parallel="tests" name="Suite">
  <test thread-count="5" name="Test_0" >
	<parameter name="dataProviderCounter" value="0"/>  
    <classes>
      <class name="Spothopper.QA.TestCases.OnlineOrdersTest">
	      	<methods>
				<exclude name="submitOnlineOrder"/>  
			</methods>
	  </class>
    </classes>
    
  </test> <!-- Test -->
  <test thread-count="5" name="Test_1" >
	<parameter name="dataProviderCounter" value="1"/>
    <classes>
      <class name="Spothopper.QA.TestCases.OnlineOrdersTest">
	      	<methods>
				<exclude name="submitOnlineOrder"/>  
			</methods>
	  </class>
	  
    </classes>
    
  </test> <!-- Test -->
  <test thread-count="5" name="Test_2" >
	<parameter name="dataProviderCounter" value="2"/>
    <classes>
      <class name="Spothopper.QA.TestCases.OnlineOrdersTest">
	      	<methods>
				<exclude name="submitOnlineOrder"/>  
			</methods>
	  </class>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="Test_3"  >
	<parameter name="dataProviderCounter" value="3"/>
    <classes>
      <class name="Spothopper.QA.TestCases.OnlineOrdersTest">
	      	<methods>
				<exclude name="submitOnlineOrder"/>  
			</methods>
	  </class>
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="Test_4"  >
	<parameter name="dataProviderCounter" value="4"/>
    <classes>
      <class name="Spothopper.QA.TestCases.OnlineOrdersTest">
	      	<methods>
				<exclude name="submitOnlineOrder"/>  
			</methods>
	  </class>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
